<section class="panel b-light">
                        <header class="panel-heading p">
                            <strong>Calendar</strong>
                        </header>
                        <div id="calendar" class="bg-light dker m-l-n-xxs m-r-n-xxs"></div>
                        <div class="list-group">
                            <a href="#" class="list-group-item text-ellipsis">
                                <span class="badge bg-warning">4th Oct 7:30AM</span> Cab Request - Meeting with HSBC Bank
                            </a>
                            <a href="#" class="list-group-item text-ellipsis">
                                <span class="badge bg-success">7th Oct 9:30AM</span> Flight Request - Have a kick off meeting with .Icano company
                            </a>
                        </div>
</section>