<!DOCTYPE html>
<html lang="en" class="app">
<head>  
  <meta charset="utf-8" />
  <title>Scale | Web Application</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  
   <link rel="stylesheet" type="text/css" href="../assets/dist/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/dist/css/cust-Travel-Portal.css">

  <link rel="stylesheet" href="../assets/js/calendar/bootstrap_calendar.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body class="">
  <section class="vbox">

    <section>
      <section class="hbox stretch">
        <!-- .aside -->

        <!-- /.aside -->
        <section id="content">
          <section class="hbox stretch">
            
                 <div class="row">          
                    
                      <div class="col-md-6">
                        <section class="panel b-light">
                          <header class="panel-heading"><strong>Calendar</strong></header>
                          <div id="calendar" class="bg-light dker m-l-n-xxs m-r-n-xxs"></div>
                          <div class="list-group">
                            <a href="#" class="list-group-item text-ellipsis">
                              <span class="badge bg-warning">4th Oct 7:30AM</span> 
                              Cab Request - Meeting with HSBC Bank
                            </a>
                            <a href="#" class="list-group-item text-ellipsis"> 
                              <span class="badge bg-success">7th Oct 9:30AM</span> 
                              Flight Request - Have a kick off meeting with .Icano company
                            </a>
                          </div>
                        </section>                  
                      </div>
                    </div>
                  
               
            
            <!-- side content -->
         
            <!-- / side content -->
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
      </section>
    </section>
    </section>  

  

<script src="../assets/js/angular/angular.min.js"></script>
    <script src="../assets/js/angular/component-router.js"></script>
    <script src="../assets/js/jquery/jquery.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>

  <script src="../assets/js/calendar/bootstrap_calendar.js"></script>
  <script src="../assets/js/calendar/demo.js"></script>
</body>
</html>