<div class="dialog-ovelay modal-demo"   style=" margin-top: 25%;
    margin-left: 25%;border-radius:2px;">
                <div class=" modal-header dialog" id="content" >
                      <div class="modal-body dialog-msg">
                           <p >Are you sure you want to delete this travel request?

						</p>
                        </div>
                         <div class="modal-footer footer">
                            <button type="button" class="button-danger" ng-click="ok()" >Delete</button>
                            <button type="button" class="button-default" style="padding-left:20px;" ng-click="cancel()">Cancel</button>
                       </div>
                        
                </div>
               
</div>
