
       			<div class="flex">
   					<div class="nav-pills">
						<div class="nav-icon">
							<img src="assets/login/images/home.png">
						</div>
						<div class="nav-name">HOME</div>
					</div>
					<div class="nav-pills">
						<div class="nav-icon">
							<img src="assets/login/images/new_request.png">
						</div>
						<div class="nav-name">NEW REQUEST</div>
					</div>
       				<div class="nav-pills">
      					<div class="nav-icon">
      						<img src="assets/login/images/request_list.png">
      					</div>
      					<div class="nav-name">REQUEST LIST</div>
      				</div>
       				<div class="nav-pills">
       					<div class="nav-icon">
       						<img src="assets/login/images/manager_request_list.png">
       					</div>
       					<div class="nav-name">MANAGER REQUEST LIST</div>
       				</div>
       			</div>
       		