<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm</title>
    <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
    <style>
        body{
            background-color:#f7f7f7;
            padding: 100px 150px 0px 150px;
        }
        section{
            background-color: #fff;
            padding: 20px;
        }
        
        </style>
</head>
<body>
    <!------------------------------------------------------
        |                   Section                         |
        ------------------------------------------------------- -->
    <section>
        
        <header>
        <h3>Personal Details</h3>
        </header>
        <hr>
        <!-- --------------------article ------------------------ -->
        <div class="article">
        <!-- --------------------row ------------------------ -->
        <div class="row">
            <div class="col-md-4">
                <label>Employee name:</label>
                <span>Sumit Lokhande</span>
            </div>
            <div class="col-md-4">
                    <label>Location:</label>
                    <span>Pune</span>
                </div>

                <div class="col-md-4">
                        <label>Contact Number:</label>
                        <span>+91 9976 456 899</span>
                    </div>
        </div>
         <!-- --------------------end of row ---------------------------- -->
        
         <!-- --------------------row ------------------------ -->
        <div class="row">
                <div class="col-md-4">
                    <label>Project Code:</label>
                    <span>5028758</span>
                </div>
                <div class="col-md-4">
                        <label>Project Name:</label>
                        <span>Backbase Internal Pune</span>
                    </div>
    
                    <div class="col-md-4">
                            <label>Approvers Name:</label>
                            <span>Mr. Paras Mishra</span>
                        </div>
            </div>
             <!-- --------------------end of row ---------------------------- -->

            </div>
            <!-- --------------------end of article ------------------------ -->
            

                    <header>
                       <h3>Request Details</h3>
                    </header>
                    <hr>
                    <!-- --------------------article ------------------------ -->
                    <div class="article">
                        
                            <h4>Flight Booking</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <td><label>Tour Type:</label></td>
                                    <td colspan="2">Domestic</td>
                                    <td><label>Travel Type:</label></td>
                                    <td colspan="2">One way</td>
                                </tr>

                                <tr>
                                        <td><label>Buisness Purpose:</label></td>
                                        <td >Client visit</td>
                                        <td><label>From:</label></td>
                                        <td>Benglore</td>
                                        <td><label>To:</label></td>
                                        <td>Pune</td>
                                </tr>

                                <tr>
                                        <td><label>Departure Date:</label></td>
                                        <td >21/10/2017</td>
                                        <td><label>Departure Time:</label></td>
                                        <td>Morning</td>
                                        <td><label>Booking Type:</label></td>
                                        <td>Company Booking</td>
                                </tr>
                                <tr>
                                    <td><label>Remark</label></td>
                                    <td colspan="5">Visiting client location for offial purpose. Need veg meal.</td>
                                </tr>
                            </table>


                  
                    </div>
                     <!-- --------------------end of article ------------------------ -->

                      <!-- --------------------article ------------------------ -->
                    <div class="article">
                            
                                <h4>Taxi Booking</h4>
                                <table class="table table-bordered">
                                    <tr>
                                        <td><label>From:</label></td>
                                        <td>Pune International Airport</td>
                                        <td><label>To:</label></td>
                                        <td>World Trade Centre, Kharadi,Pune</td>
                                    </tr>
    
                                  
    
                                    <tr>
                                            <td><label>Departure Date:</label></td>
                                            <td >21/10/2017</td>
                                            <td><label>Departure Time:</label></td>
                                            <td>1:00 PM</td>
                                            
                                    </tr>
                                    <tr>
                                        <td><label>Remark</label></td>
                                        <td colspan="3">Time may vary due to delay in flight.</td>
                                    </tr>
                                </table>
    
    
                      
                        </div>
                         <!-- --------------------end of article ------------------------ -->
                     <div  align="right">
                         <button class="btn btn-success">Confirm & Submit</button>
                     </div>

    </section>
    <!------------------------------------------------------
        |                  end of section                         |
        --------------------------------------------------------->
    
</body>
</html>